<html>
    <head>
        <title>Hack the North 2021</title>
    </head>

    <body class="body1">
        <form method="POST" action="/api/v1/getSurvey" style="margin-left: 20%;">
            <label for="surveyName" style="margin: 1%;">
                Enter name of the survey you want to start:
            </label>
            <br>
            <input type="text" placeholder="Survey Name" name="surveyName" id="surveyName" style="margin: 1%;"/>
            <br>
            <label for="surveyPassword" style="margin: 1%;">
                Enter password of the survey you want to start:
            </label>
            <br>
            <input type="password" placeholder="Survey Password" name="surveyPassword" id="surveyPassword" style="margin: 1%;"/>
            <br>
            <br>
            <input type="submit" value="Submit"/>
        </form>
    </body>
</html>