<!DOCTYPE html>
<html>
	<head>
	<meta charset="utf-8">
	<title>Webcam</title>
	
		<style>
		#container {
			margin: 0px auto;
			width: 500px;
			height: 375px;
			border: 10px #333 solid;
		}
		#video {
			width: 500px;
			height: 375px;
			background-color: #666;
		}
		</style>
	</head>
	
	<body>
		<div id="container">
			<video autoplay="true" id="video">
			
			</video>
		</div>
		<div>
			<canvas id="canvas">

			</canvas>
		</div>
		<div>
			<select id="img_type">
				<option value="thumbs">Thumbs Up/Down</option>
				<option value="rating">Rating 1-5</option>
			</select>
		</div>
		<div>
			<button id="button">
				Take Picture
			</button>
		</div>
	<script>

		const imgTypeSelector = document.getElementById("img_type")
		const video = document.querySelector("#video");
		const button = document.querySelector("#button");
		const canvas = document.querySelector("#canvas");
		canvas.width = 500;
		canvas.height = 375;
		
		button.onclick = () => {
			canvas.width = video.videoWidth;
			canvas.height = video.videoHeight;
			canvas.getContext('2d').drawImage(video, 0, 0, canvas.width, canvas.height);

			var img_type = imgTypeSelector.value;
			var img_bytes = canvas.toDataURL("image/png");
			fetch("api/v1/classify", {
				method: "POST",
				headers: {"Content-Type": "application/json"},
				body: JSON.stringify({"img_type": img_type, "img_bytes": img_bytes})
			})
			.then(response => response.json())
			.then(success => console.log("success"))
			.catch(error => console.log("error"));
		};

		if (navigator.mediaDevices.getUserMedia) {
			navigator.mediaDevices.getUserMedia({ video: true })
				.then(stream => {video.srcObject = stream;})
				.catch(error => {console.log("Something went wrong!");});
		}
	</script>
	</body>
</html>